<section class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card card-style radius mt-3 ms-3 me-3  shadow border-0">
                <div class="card-body">
                    <div class="text-center">
                        <img src="assets/user1.png" class="w-50 rounded-circle border " alt="">
                        <h3 class="mt-4 card-title">Daniel Guirol FOGUE</h3>
                        <p class="text-muted card-text">daniel.fogue.tsakou@efrei.net</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card card-style radius ms-3 me-3 mt-3 shadow border-0">
                <h5 class="card-header radius title-design">Mon profile <div class="float-end"><button type="button" class="btn btn-primary radius">Primary</button></div></h5>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-3 g-4 ms-3">
                        <div class="col">
                          <div>
                            <p class="text-muted txt-style row-bottom-margin font-weight-bold">Nom</p>
                            <p class="card-text">Female</p>
                            <hr>
                          </div>
                        </div>
                        <div class="col">
                            <p class="text-muted txt-style row-bottom-margin">Prenom</p>
                            <p class="card-text">Female</p>
                            <hr>
                        </div>
                        <div class="col">
                            <p class="text-muted txt-style row-bottom-margin">Email</p>
                            <p class="card-text">Female</p>
                            <hr>
                        </div>
                        <div class="col">
                            <p class="text-muted txt-style row-bottom-margin">Telephone</p>
                            <p class="card-text">Female</p>
                            <hr>
                        </div>
                        <div class="col">
                            <p class="text-muted txt-style row-bottom-margin">Lieu de Naissance</p>
                            <p class="card-text">Female</p>
                            <hr>
                        </div>
                        <div class="col">
                            <p class="text-muted txt-style row-bottom-margin">Sujet Favoris</p>
                            <span class="badge bg-info text-dark">Geographie</span><span class="badge bg-info text-dark ms-2">Comedie</span><span class="badge bg-info text-dark ms-2">Science Fiction</span><span class="badge bg-info text-dark">Food</span>
                            <hr>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-style-bottom radius  ms-3 me-3 mt-3 shadow border-0">
        <h5 class="card-header radius title-design">Mes Favoris</h5>
        <div class="h-75 border-0 overflow-auto scroll-style">
            <div>
                <div class="card-fav-style card mt-3 ms-2 me-2 shadow">
                    <div class="">
                        <div class="float-start">
                            <span><img src="https://pdf.1001ebooks.com/wp-content/uploads/2020/05/Andre%CC%81-Brink-Une-Saison-Blanche-Et-Seche-.jpg" class="shadow mt-2 ms-2 mb-2 img-style"></span>
                        </div>
                        <div class="float-right ms-2 mt-2">
                            <h3>Une Saison blanche et sèche</h3>
                            <h6>André BRINK</h6>
                            <h6>2018</h6>
                        </div>
                        <div class="ms-2 mt-2">
                            <button type="button" class="btn btn-outline-danger btn-sm float-end me-3 mb-4">Retirer</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div>
                <div class="card-fav-style card mt-3 ms-2 me-2 shadow">
                    <div class="">
                        <div class="float-start">
                            <span><img src="https://pdf.1001ebooks.com/wp-content/uploads/2020/05/Andre%CC%81-Brink-Une-Saison-Blanche-Et-Seche-.jpg" class="shadow mt-2 ms-2 mb-2 img-style"></span>
                        </div>
                        <div class="float-right ms-2 mt-2">
                            <h3>Une Saison blanche et sèche</h3>
                            <h6>André BRINK</h6>
                            <h6>2018</h6>
                        </div>
                        <div class="ms-2 mt-2">
                            <button type="button" class="btn btn-outline-danger btn-sm float-end me-3 mb-4">Retirer</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div>
                <div class="card-fav-style card mt-3 ms-2 me-2 shadow">
                    <div class="">
                        <div class="float-start">
                            <span><img src="https://pdf.1001ebooks.com/wp-content/uploads/2020/05/Andre%CC%81-Brink-Une-Saison-Blanche-Et-Seche-.jpg" class="shadow mt-2 ms-2 mb-2 img-style"></span>
                        </div>
                        <div class="float-right ms-2 mt-2">
                            <h3>Une Saison blanche et sèche</h3>
                            <h6>André BRINK</h6>
                            <h6>2018</h6>
                        </div>
                        <div class="ms-2 mt-2">
                            <button type="button" class="btn btn-outline-danger btn-sm float-end me-3 mb-4">Retirer</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>