<section class="container">
  <div class="bar-design shadow table-radius">
    <button type="button" class="btn btn-sm btn-style table-radius shadow">Nouvel Utilisateur</button>
  </div>
  
  <div class="shadow tab-design table-radius">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Portable</th>
            <th scope="col">Actions</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td><button type="button" class="btn btn-primary btn-sm table-radius btn-table-style">Details</button></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

