.table-radius{
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.tab-design{
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 0.5em;  
}

.btn-style {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #DA4944;
    color: white;
    margin-right: 0.5em;
    
}

.bar-design{
    margin-bottom: 2em;
    margin-top: 2em;
    display: flex; 
    justify-content: flex-end
}

.table td{
   text-align: center;   
}

.table th{
   text-align: center;   
}

.btn-table-style{
    padding-left: 3em;
    padding-right: 3em;
    border-bottom-left-radius: 12px 12px;
    border-bottom-right-radius: 12px 12px;
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
}

.bar-text-design{
    float: left;
}



