.search-design{
    padding-right: 35px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 30px;
}

.search-position{
    border-bottom-left-radius: 12px 12px;
    border-bottom-right-radius: 12px 12px;
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
    width: 39em;
}