<section class="">
    <div class="mt-4 ms-3 me-2">
        <div class="ms-1">
            <p class="text-muted txt-style row-bottom-margin">2 commentaires</p>
        </div>
        <hr>
    </div>
    <div class="commentaires-style overflow-auto">
        <div class="mt-3 mb-2 ms-3 me-2">
            <div class="card mb-2 radius border-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="assets/user1.png" class="img-style-user rounded-circle border " alt="">
                        </div>
                        <div class="col-md-11">
                            <h5>Daniel F.</h5>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim 
                                sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligulamassa, varius a, 
                                semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non 
                            </p>
                        </div>
                    </div>
                    <div class="float-end me-3">
                        <button type="button" class="btn btn-outline-danger btn-sm ms-2">supprimer</button>
                    </div> 
                </div>
            </div>
        </div>
        <div class="mt-3 mb-2 ms-3 me-2">
            <div class="card mb-2 radius border-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="assets/user1.png" class="img-style-user rounded-circle border " alt="">
                        </div>
                        <div class="col-md-11">
                            <h5>Daniel F.</h5>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim 
                                sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligulamassa, varius a, 
                                semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non 
                            </p>
                        </div>
                    </div>
                    <div class="float-end me-3">
                        <button type="button" class="btn btn-outline-danger btn-sm ms-2">supprimer</button>
                    </div> 
                </div>
            </div>
        </div>
        <div class="mt-3 mb-2 ms-3 me-2">
            <div class="card mb-2 radius border-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="assets/user1.png" class="img-style-user rounded-circle border " alt="">
                        </div>
                        <div class="col-md-11">
                            <h5>Daniel F.</h5>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim 
                                sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligulamassa, varius a, 
                                semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non 
                            </p>
                        </div>
                    </div>
                    <div class="float-end me-3">
                        <button type="button" class="btn btn-outline-danger btn-sm ms-2">supprimer</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="form-floating mt-4">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Commentaire...</label>
            <button type="submit" class="btn btn-primary mt-2 float-end btn-sm mb-2">envoyer</button>
        </div>
    </form>
</section>
