.txt-style{
    font-weight: 500;
}

hr{
    margin-top: 0.3em;
}

.img-style-user{
    width: 4em;
}

.radius{
    border-radius: 25px;
}

.commentaires-style{
    height: 20em;
}

.row-bottom-margin{ 
    margin-bottom: 0.1em;
}

::-webkit-scrollbar {
    display: none;
}