<app-nav-bar></app-nav-bar>
<section class="container">
    <div class="row mt-5">
        <div class="col">
          <div class="card shadow radius border-0" style="background-color: #D8D8D8;">
            <div class="card-body radius">
                <div class="row mt-4 mb-3">
                    <div class="col-sm-6 text-center mt-4">
                        <div class="textcard-style">0</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textcard-style">Bibliothèques enregistrées sur e-Lib</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow radius border-0" style="background-color: #D8D8D8;">
              <div class="card-body radius">
                  <div class="row mt-4 mb-3">
                      <div class="col-sm-6 text-center mt-4">
                          <div class="textcard-style">0</div>
                      </div>
                      <div class="col-sm-6">
                          <div class="textcard-style">Livres enregistrés dans les bibliotheques e-Lib</div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow radius border-0" style="background-color: #D8D8D8;">
              <div class="card-body radius">
                  <div class="row mt-4 mb-3">
                      <div class="col-sm-6 text-center mt-4">
                          <div class="textcard-style">0</div>
                      </div>
                      <div class="col-sm-6">
                          <div class="textcard-style">Visites enregistrés dans les bibliotheques e-Lib</div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="card mt-5 mb-5 shadow border-0" style="background-color: #505050;">
        <div class="card-header border-0 textcard-style" style="background-color: #D8D8D8;">My DashBoard</div>
        <div class="card-body">
            <div style="margin-left: 8em;">
                <ngx-tableau tableauVizUrl ="https://public.tableau.com/views/e-Lib/lib1?:language=fr-FR&:display_count=n&:origin=viz_share_link"></ngx-tableau>
            </div>
        </div>
    </div>
        
    
</section>
