<section>

    <section class="container">
        <!-- card connexion -->
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">

            <div class="shadow card shadow-1-strong connexion_card" >
                <div class="card-body p-5 text-center d-grid gap-4">
                    <!-- logo -->
                    <img src="assets/image.jpg" width="300em" alt="logo here"/>
                    
                    <!-- title box -->
                    <h3 class="mb-3">Login into your account</h3>

                    <!-- email input -->
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text input_form"> </span>
                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    
                    <!-- password input -->
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text input_form" id="addon-wrapping"> </span>
                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-start mb-2">
                        <input class="shadow form-check-input rememberbox_form" type="checkbox" value="" id=""/>
                        <label class="form-check-label" for=""> Remember Me </label>
                    </div>

                    <!-- login button -->
                    <div class="d-grid gap-2">
                        <button class="shadow btn btn-style" type="submit">Login</button>
                    </div>

                    <!-- Checkbox -->
                    <div class="mb-2">
                        <label class="form-check-label" for=""><a href="">Mot de passe oublié ?</a></label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
       
</section>

