// Element of the connexion Card
.connexion_card{
    border-radius: 1rem;
}

.input_form{
    padding-right: 2em;
}

.rememberbox_form{
    margin-right: 0.5em;
}

//Section of the card
.container{
    justify-content: center;
    height: 55.7em;
    display: flex;
    align-items: center;
}

//logo
img{
    justify-content: center; 
}

//color of button
.btn-style{
    background-color: #0379AA;
}

//color of the link
a{
    color: #0379AA;
}

