<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                <!-- card connexion -->
                <div class="card shadow-1-strong connexion_card" >
                    <div class="card-body p-5 text-center d-grid gap-4">

                        <!-- title box -->
                        <h3 class="mb-3">Login into your account</h3>

                        <!-- email input -->
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text input_form"> </span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        
                        <!-- password input -->
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text input_form" id="addon-wrapping"> </span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-start mb-2">
                            <input class="form-check-input rememberbox_form" type="checkbox" value="" id=""/>
                            <label class="form-check-label" for=""> Remember Me </label>
                        </div>

                        <!-- login button -->
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- footer -->
<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    
    <!-- Copyright --> <!-- left -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    

    <!-- Publicité Reseaux sociaux --><!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

</div>