.connexion_card{
    border-radius: 1rem;
}

.input_form{
    padding-right: 2em;
}

.rememberbox_form{
    margin-right: 0.5em;
}

.container{
    justify-content: center;
    height: 55.7em;
    display: flex;
    align-items: center;
}

img{
    justify-content: center; 
}

.btn-style{
    background-color: #0379AA;
}

.foot-style{
    background-color: #0379AA;
}

a{
    color: #0379AA;
}

