.card-style{
  width: 36rem;
  height: 23rem;
  margin-top: 3rem;
  margin-left: 1rem;
  border-radius: 25px;
}

.btn-style{
  margin-left: 1rem;
  margin-top: 1rem;
  width: 31rem;
  height: 3rem;
  font-weight: bold;
}

h1{
  margin-left: 1rem;
}

h3{
  margin-left: 1rem;
}

.img-style{
  float: right;
  margin-right: 1.5rem;
}

.container{
  max-width: 100%;

}
