.check-box-design{
    margin-left: 1em;
}

h6{
    padding-top: 1.5em;
}

.box-radius{
    border-bottom-left-radius: 12px 12px;
    border-bottom-right-radius: 12px 12px;
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
}