<section class="container">
    <div class="bar-design shadow table-radius">
      <button type="button" class="btn btn-sm btn-style table-radius shadow" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Ajouter un livre</button>
    </div>
    <!-- Modal -->
    <div class="modal fade " id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <app-popup-contains></app-popup-contains>
    </div>
    
    <div class="shadow tab-design table-radius">
      <div>
        <table class="table">
          <app-livres-card></app-livres-card>
          <app-livres-card></app-livres-card>
          <app-livres-card></app-livres-card>
        </table>
      </div>
    </div>
    <nav class="shadow">
      <ul class="pagination shadow pagination-style justify-content">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </section>
  
  
  