
    <section class="container">
        <div class="row"> 
            <div class="col-sm-6 row-style">
                <div class="row row-style">
                    <div class="col-sm-6">
                       <div class="img_descipt_left"><img src="assets/image.jpg" width="300em" alt="logo here"/></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="txt_descript_img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula </div>
                    </div> 
                </div>
                <div class="row row-style">
                    <div class="col-sm-6">
                       <div class="img_descipt_left"><img src="assets/image.jpg" width="300em" alt="logo here"/></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="txt_descript_img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula </div>
                    </div> 
                </div>
                <div class="row row-style">
                    <div class="col-sm-6">
                       <div class="img_descipt_left"><img src="assets/image.jpg" width="300em" alt="logo here"/></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="txt_descript_img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula </div>
                    </div> 
                </div>    
            </div>

            <div class="col-sm-6">
                <div class="shadow card shadow-1-strong connexion_card ">
                    <div class="card-body p-5 text-center d-grid gap-4">
                        <!-- logo -->
                        <div class="main-logo-style"><img src="assets/image.jpg" width="300em" alt="logo here"/></div>
                        
                        <!-- title box -->
                        <h3 class="mb-3">Join us | Create your account</h3>
                        
                        

                        <!-- email input -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label_position">Email address</label>
                                    <div class="input-group flex-nowrap">     
                                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label_position">Email address</label>
                                    <div class="input-group flex-nowrap">     
                                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- email input -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label_position">Email address</label>
                                    <div class="input-group flex-nowrap">     
                                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label_position">Email address</label>
                                    <div class="input-group flex-nowrap">     
                                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- email input -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label_position">Email address</label>
                                    <div class="input-group flex-nowrap">     
                                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label_position">Email address</label>
                                    <div class="input-group flex-nowrap">     
                                        <input type="text" class="shadow form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                        </div>                


                        <!-- login button -->
                        <div class="d-grid gap-2">
                            <button class="shadow btn btn-style" type="submit">Sign up</button>
                        </div>

                        <!-- login button -->
                        <div class="d-grid gap-2">
                            <button class="shadow bg-light border btn btn-style" type="submit"><div class="logo-btn-style"><img src="assets/logo-google.png" width="20em" alt="logo here"/> Sign up from Google</div></button>
                        </div>
                
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    