// Element of the connexion Card

.connexion_card{
    border-radius: 1rem;
    margin-left: 4em;
    margin-top: 2em;
    padding-bottom: 3.5em;
    width: 53em;
}

.position{
    justify-content: right;
    align-items: right;
 
}


.input_form{
    padding-right: 2em;
}

.rememberbox_form{
    margin-right: 0.5em;
}

//color of button
.btn-style{
    background-color: #0379AA;
    height: 3em;
    margin-top: 1.5em;
}

.btn-style-google{
   padding-left: 12em!important;
}

//color of the link
a{
    color: #0379AA;
}

input{
    height: 3em;
}

.label_position{
    margin-left: 0.2em;
    float: left;
    margin-bottom: 0.5em;
}

.img_descipt_left{
    margin-left: -13em;
}

.txt_descript_img{
    margin-left: -6em;
    margin-top: 2em;
}

.row-style{
    margin-top: 2em;
    margin-bottom: 10em;
}






