<section>
    <div class="card ms-3 me-1 mt-2 border-0 shadow">
        <div class="card-body card-style shadow-sm border-0">
            <div class="">
                History
            </div>
        </div>
    </div>
    <carousel [height]="700" [cellWidth]="330" adaptiveHeight>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
        <div class="carousel-cell">
            <app-book-card></app-book-card>
        </div>
    </carousel>
</section>

