 <router-outlet></router-outlet>
<!-- <app-library></app-library>-->
<!-- <app-login-page></app-login-page>-->
<!-- <app-sign-in-page></app-sign-in-page>-->
<!-- <app-footer></app-footer>-->
<!-- <router-outlet></router-outlet> -->
<!-- <app-tables></app-tables> -->
<!-- <app-search-bar></app-search-bar>-->
<!-- <app-filters></app-filters>-->
<!-- <app-book-card></app-book-card>-->
<!-- <app-card-slider></app-card-slider>-->
<!-- <app-user-card></app-user-card>-->
<!--<app-pdf-reader></app-pdf-reader>-->
