// .btn-style{
//     font-weight: bold; 
// }

.bold{
    font-weight: bold; 
}

h1{
    margin-left: 1rem;  
}

h3{
    margin-left: 1rem;  
}

.img-style{
    float: right;
    margin-right: 1.5rem;
}

.radius{
    border-radius: 25px;
}

.card-style{
    // width: 36rem; 
    // height: 20rem;
    border-radius: 25px;
}

.radius{
    border-radius: 25px;
}

.foot-card{
    margin-top: 6rem;
}

.card-link-design{
    font-weight: bold;
    text-decoration: none; 
}