.card-style{
    width: 36rem; 
    height: 20rem;
    margin-top: 3rem;
    border-radius: 25px;
}

.h3{

}

.img-style{
    float: right;
    margin-right: 1.5rem;
}

.foot-card{
    margin-top: 6rem;
}

.card-link-design{
    font-weight: bold;
    text-decoration: none;
    
}