<div class="card card-style border-0 shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="card-title">Gerer mes abonnés</h3>
            </div>  
            <div class="col-sm-6">
                <div class="img-style">
                    <img src="assets/user1.png" width="97rem">
                </div>
            </div> 
        </div>
        <div class="foot-card">
            <p class="card-text">Retrouvez ici une facon simple et efficace de gerer vos abonnées : Creation, suppression, ajout, droits d'accès...</p>
            <a href="#" class="card-link card-link-design">Gerer un utilisateur <app-chevrons></app-chevrons></a>
        </div>
    </div>
</div>