.card-style{
    // width: 36rem; 
    // height: 20rem;
    border-radius: 25px;
}

.radius{
    border-radius: 25px;
}

.foot-card{
    margin-top: 6rem;
}

.card-link-design{
    font-weight: bold;
    text-decoration: none; 
}