<section class="container">
    <div class="card mt-2 ms-2 me-2 h-auto">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{book.thumbnail}}" class="border border-4 ms-4 shadow img-style" alt="">
                    <div class="ms-4 mb-4">
                        <app-stars-rate></app-stars-rate>
                    </div>
                    <br>
                    <div class="ms-4">
                        <p class="text-muted txt-style row-bottom-margin">{{book.comments.length}} comments</p>
                    </div>

                </div>
                <div class="col-sm-9">
                    <p class="text-muted txt-style row-bottom-margin">DESCRIPTION</p>
                    <p class="">{{book.description}}</p>

                    <div class="row">
                        <div class="col mt-3">
                            <p class="text-muted txt-style row-bottom-margin">AUTEUR</p>
                            <h5 class="">{{book.author}}</h5>

                            <p class="text-muted txt-style row-bottom-margin mt-4">DATE DE PUBLICATION</p>
                            <h6 class="">{{book.publishDate}}</h6>
                        </div>
                        <div class="col mt-3">
                            <p class="text-muted txt-style row-bottom-margin">ISBN CODE</p>
                            <h5 class="">{{book.isbn}}</h5>
                            <p class="text-muted txt-style row-bottom-margin mt-4">SUJET</p>
                            <span class="badge bg-info text-dark">{{book.category}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
