.txt-style{
    font-weight: 500;
}

.row-bottom-margin{ 
    margin-bottom: 0.1em;
}

.img-style{
    width: 12em;
}

.card-style{
    border-radius: 2em;
}

hr{
    margin-top: 0.3em;
}

.img-style-user{
    width: 4em;
}

.radius{
    border-radius: 25px;
}

.commentaires-style{
    height: 30em;
}