<div class="card-fav-style card mt-3 ms-2 me-2 shadow">
    <div class="row">
        <div class="col">
            <div class="float-start">
                <span><img src="https://my-demo-bucket-123432134.s3.eu-central-1.amazonaws.com/image/{{book.thumbnail}}" class="shadow mt-2 ms-2 mb-2 img-style"></span>
            </div>
            <div class="float-right ms-2 mt-2">
                <h3>{{book.title}}</h3>
                <h6>{{book.author}}</h6>
                <h6>{{book.publishDate}}</h6>
                <span class="badge bg-info text-dark">{{book.category}}</span>
            </div>
        </div>
        <div class="col">
            <div class="mt-3 ms-2">
                <button type="button" class="btn btn-outline-danger btn-sm float-end me-3 mb-4" (click)="delete()" *ngIf="authService.isAdmin" >Retirer</button>
              <button type="button" class="btn btn-outline-danger btn-sm float-end me-3 mb-4" (click)="borrow()" *ngIf="!authService.isAdmin" >Borrow</button>
                <button type="button" class="btn btn-outline-primary btn-sm float-end me-3 mb-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="detail()">Details</button>
            </div>

        </div>
    </div>
</div>
