<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <!-- email input -->
        <div class="col-sm-4">
            <div class="card card-style border-0 shadow">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="card-title text-muted">BONJOUR,</h1>
                                <h3 class="card-subtitle mb-2 fs-1">DANIEL</h3>
                                <h3 class="card-subtitle mb-2 fs-1">FOGUE</h3><br>
                            </div>  
                            <div class="col-sm-6">
                                <div class="img-style">
                                    <img src="assets/user1.png" width="97rem">
                                </div>
                            </div> 
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-style shadow btn-primary" type="button">AJOUTER UN UTILISATEUR</button>
                            <button class="btn btn-style shadow btn-primary" type="button">AJOUTER UN LIVRE</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <!-- email input -->
            <div class="col-sm-4">
                <app-card></app-card>
            </div> 
            
            <!-- email input -->
            <div class="col-sm-4">
                <app-card></app-card>
            </div> 
        </div>
        <div class="col-sm-4">
            <!-- email input -->
            <div class="col-sm-4">
                <app-card></app-card>
            </div> 
            
            <div class="col-sm-4">
                <app-card></app-card>
            </div> 
        </div>
    </div>
    
</div>

