<app-nav-bar></app-nav-bar>
<div class="">
    <div class="row row-cols-md-3 ">
        <!-- email input -->
        <div class="col">
            <div class="card mt-5 border-0 radius ms-2 shadow">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h1 class="card-title text-muted">BONJOUR,</h1>
                                <h3 class="card-subtitle mb-2 fs-1">DANIEL</h3>
                                <h3 class="card-subtitle mb-2 fs-1">FOGUE</h3><br>
                            </div>  
                            <div class="col">
                                <div class="float-end">
                                    <img src="assets/user1.png" width="97rem">
                                </div>
                            </div> 
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn mt-2 shadow ms-3 bold btn-primary" type="button">AJOUTER UN UTILISATEUR</button>
                            <button class="btn mt-2 mb-4 ms-3 bold shadow btn-primary" type="button">AJOUTER UN LIVRE</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>

        <div class="col">
            <!-- email input -->
            <div class="col">
                <app-card></app-card>
            </div> 
            
            <!-- email input -->
            <div class="col">
                <app-card></app-card>
            </div> 
        </div>

        <div class="col">
            <!-- email input -->
            <div class="col">
                <app-card></app-card>
            </div> 
            
            <div class="col">
                <app-card></app-card>
            </div> 
        </div>
    </div>
    
</div>
