.navbar-design{
    padding-bottom: 2em;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background-color: #ffff !important;
}

.contain-design{
    padding-top: 1em !important;
}

.btn-group-design{
    margin-right: 1em !important;
    width: 26rem;
    height: 4.5rem;
    font-weight: bold;
    background-color: #adb5bd;
    border-radius: 12px;
}

.dropdown-menu.dropdown-menu-dark {
    min-width: 90%;
    text-align: center;
}

.nav-link{
    font-weight: bold;
}